*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: bisque;
}

h1{
    margin: 30px 0;
    text-align: center;
    text-shadow: 0 5px lightgreen;
}

.text-container{
    margin: 20px 0;
    max-width: 500px;
    border: 2px solid lightskyblue;
    padding: 5px 2px;
}